<div class="container mt-5">
  <form (ngSubmit)="submitForm(f)" #f="ngForm" class="pt-5">
    <div class="row">
      <div class="col-6">
        <input
          type="text"
          class="form-control"
          placeholder="Search for movie..."
          ngModel
          required
          name="movieName"
        />
      </div>
      <div class="col-2">
        <button class="btn">Search</button>
      </div>
    </div>
  </form>

  <div class="row mt-5 d-flex justify-content-evenly">
    <div
      class="col-lg-4 film-card"
      *ngFor="let s of searchResult"
      [routerLink]="['/movie', s.id]"
    >
      <div class="row">
        <div class="col-lg-3 mt-3">
          <img
            src="https://image.tmdb.org/t/p/original/{{ s.poster_path }}"
            [routerLink]="['/movie', s.id]"
          />
        </div>
        <div class="col-lg-9 mt-4 mb-4">
          <h1 [routerLink]="['/movie', s.id]">{{ s.original_title }}</h1>
          <p class="text-white mt-3">{{ s.overview }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
